{% extends "base.html" %}
{% block title %}Maksym Yena - Welcome Page{% endblock %}

{% block body %}
<div class="header">
  <h1 class="header__title">👋 Welcome to the World of Maksym Yena 🚀</h1>
</div>

<div class="main">
  <!-- ABOUT ME SECTION -->
  <div class="section section--about">
    <div class="about-images">
      <div class="about-content">
        <h2>About Me</h2>
        <p>I am a <strong>Senior Software Test Automation Engineer</strong> specializing in <span
          class="highlight">Java</span> and <span class="highlight">Python</span>. My focus includes:</p>
        <ul>
          <li>♨️ Java Programming</li>
          <li>🐞 Software Testing</li>
          <li>👾 Machine Learning and Artificial Intelligence</li>
          <li>🚁 UAV Traffic Management and Optimization</li>
          <li>🤖 Swarm Intelligence for Control Systems</li>
          <li>🌐 AI Integration in Urban Air Mobility</li>
          <li>🛰 UTM (Urban Traffic Mobility)</li>
        </ul>

        <h2>My resume</h2>
        <a href="/resume" class="resume-link">💼 View My Resume</a>
      </div>
    </div>
  </div>


  <!-- PROJECTS SECTION -->
  <div class="section section--projects">
    <h2>🚀 My Projects</h2>
    <!-- Ссылка на все проекты -->
    <div class="all-projects-link">
      <a href="https://github.com/maksymYena" target="_blank" class="projects-link">🔗 View All Projects on GitHub</a>
    </div>
    <div class="projects-grid">
      <a
        href="https://github.com/maksymYena/DEVELOPMENT-OF-REAL-TIME-DATA-PROCESSING-ALGORITHMS-FOR-UAV-TRAFFIC-OPTIMIZATION"
        target="_blank" class="project-card">
        <h3>UAV Traffic Optimization</h3>
      </a>
      <a
        href="https://github.com/maksymYena/SIMULATION-OF-UAV-TRAFFIC-USING-MONTE-CARLO-AND-DISCRETE-EVENT-SIMULATION-MODELS"
        target="_blank" class="project-card">
        <h3>UAV Traffic Simulation</h3>
      </a>
      <a href="https://github.com/maksymYena/Spiking_neuron_models" target="_blank" class="project-card">
        <h3>Spiking Neuron Models</h3>
      </a>
      <a href="https://github.com/maksymYena/java_wiremock_ex" target="_blank" class="project-card">
        <h3>Java WireMock Examples</h3>
      </a>
      <a href="https://github.com/maksymYena/python_automation" target="_blank" class="project-card">
        <h3>Python Automation</h3>
      </a>
      <a href="https://github.com/maksymYena/phd_dissertation" target="_blank" class="project-card">
        <h3>PhD Dissertation</h3>
      </a>
      <a href="https://github.com/maksymYena/_starshiping_quick_api_test" target="_blank" class="project-card">
        <h3>API Testing Tool</h3>
      </a>
      <a href="https://github.com/maksymYena/blockchain-smart_contract_pet_shop" target="_blank" class="project-card">
        <h3>Blockchain Smart Contract</h3>
      </a>
    </div>
  </div>


  <!-- SCHOLAR & ORCID SECTION -->
  <div class="section section--profiles">
    <h2>🌐 Research Profiles</h2>
    <div class="profiles-grid">
      <a href="https://orcid.org/0009-0006-0664-3244" target="_blank" class="profile-card">
        <div class="profile-icon">🧬</div>
        <h4>ORCID</h4>
        <p>Explore my research contributions on ORCID.</p>
      </a>
      <a href="https://scholar.google.com.ua/citations?hl=ru&user=JVUkXN4AAAAJ" target="_blank" class="profile-card">
        <div class="profile-icon">🎓</div>
        <h4>Google Scholar</h4>
        <p>View my publications and citations on Google Scholar.</p>
      </a>
    </div>
  </div>

  <!-- CONTACT SECTION -->
  <div class="section section--contact">
    <h2>📬 Contact</h2>
    <p>Feel free to reach out to me:</p>
    <ul>
      <li>📩 Email: <a href="mailto:yenamaxim98@gmail.com">yenamaxim98@gmail.com</a></li>
      <li>✆ Telegram: <a href="https://t.me/Max1Black">@Max1Black</a></li>
      <li>📎 LinkedIn: <a href="https://www.linkedin.com/in/maksym-yena-90a54a176/">Maksym Yena</a></li>
    </ul>
  </div>
  <div


  {% endblock %}
